<!DOCTYPE html>
<html>
    {% include 'news/base.html' %}
    <style>
     table { table-layout: fixed; }
      table th, table td { overflow: hidden; }
    </style>

    <body>
      <div class="container">
        <div class="page-header">
          <h2>Dashboard</h2>
        </div>
          {% if error %}
          <div class="row text-danger">{{error}}</div>
          {% endif %}
          <br>

        <div class="table-responsive row">
              <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-success" name="mark_read">Mark as read</button>
                <button type="submit" class="btn btn-danger" name="delete">Delete</button>
                <table class="table table-bordred table-striped">
                <thead>
                  <th style="width:5%;"></th>
                  <th style="width:5%;">#</th>
                  <th style="width:35%;">News</th>
                  <th style="width:35%;">Hackernews url</th>
                  <th style="width:10%;">Points</th>
                  <th style="width:10%;">Comments</th>
                </thead>
                <tbody>
                {% for item in items %}
                  <tr>
                     <td><input type="checkbox" name="item_id" value="{{item.ext_id}}" /></td>
                     <td>{{forloop.counter}}</td>
                     <td><a href="{{item.item.url}}">{{item.item.title}}</a></td>
                     <td> <a href="{{item.item.hacker_news_url}}">{{item.item.hacker_news_url}}</td>
                     <td> {{item.item.points}}</td>
                     <td> {{item.item.comments}}</td>
                  </tr>
                {% endfor %}
                </tbody>
                </table>
              </form>
        </div>
      </div>
    </body>
</html>
